<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzuJNfvJR4emESqfmc1e_bRDKpNFp7lRs</string>
	<key>GCM_SENDER_ID</key>
	<string>1096955030885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foxxhealth</string>
	<key>PROJECT_ID</key>
	<string>foxx-c7031</string>
	<key>STORAGE_BUCKET</key>
	<string>foxx-c7031.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096955030885:ios:10ade79c2b80437666c58c</string>
</dict>
</plist>